body{
	background-color: #585858;
	text-align: left;
		font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    margin: 0px 25px 25px 25px;
}
h1{
	color:white;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    padding-bottom: 20px;
    z-index: 8;
}

h2{
	color:white;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
    z-index: 9;
    float: left;
    position: absolute;
    margin: 600px 0 0 300px;
}

header{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	background-color: #505050;
	z-index: 10;
}

footer{
	text-align: center;
	color: white;
}

a:hover{
	color: black;
}


.righttxt{    
	position: absolute;
	right: 150px;
	top:180px;
	width: 500px;
	padding: 10px;
	font-size: 25px;
	text-align: center;
	display: inline;

}

.lefttxt{    
	left: 0px;
	width: 800px;
	padding: 0px;
	font-size: 25px;
	margin: 700px 0 0 0;
	text-align: center;
}

.rightpic{
	float: right;
	margin: 540px 0px 25px 0px;

}

.leftpic{
	float: left;
	margin: 0, 50%, 0, 0;
}



.righttxt{
	width: 800px;
	margin: 0 0 0 500px;
	
}



.container{
	position: relative;
    right: -50%;
	background-color: darkgrey;
	width: 50%;

}

.container:after{
	content: '';
	display: table;
	clear: both;
}


